body {
  background-color: #1C2C27;
}

/* navbar 背景色部分 */
.overlay.open {
  background-color: #1C2C27;
}

.podcast_contributor {
  margin-top: 50px;
  margin-left: 24px;
  margin-right: 45px;
}

.podcast_title{
  margin-bottom: 45px;
}

#podcast{
  width: 90px;
}

#contributors{
  width: 141.57px;
}

#spotify_link{
  width: 28px;
}

#apple_link{
  width: 28px;
}

#link {
  margin-top: 15%;
  margin-bottom: 10%;
}

#footer_img {
  width: 231.42px;
}