body {
  background-color: #1C2C27;
}

/* navbar 背景色部分 */
.overlay.open {
  background-color: #1C2C27;
}

.podcast_contributor {
  margin-top: 43px;
  margin-left: 24px;
  margin-right: 45px;
}

.podcast_title{
  margin-bottom: 38px;
}

#podcast{
  width: 90px;
}

#contributors{
  width: 141.57px;
}
