body {
  background-color: #535353;
}

/* navbar 背景色部分 */
.overlay.open {
  background-color: #535353;
}

.statement {
  position: absolute;
  left: 6.5%;
}

.text{
  margin-top: 35px;
  font-size: 12px;
  margin-right: 6.5%;
  color: #fff;
}