body {
  background-color: #000000;
}

/* navbar 背景色部分 */
.overlay.open {
  background-color: #000000;
}

.contact_title {
  position: absolute;
  left: 6.5%;
}

#email_address{
  width: 229px;
  position:absolute;
  bottom: 12%;
  z-index: 1;
}

#contact_wolf{
  width: 229px;
  position:absolute;
  bottom: 12%;
  z-index: 2;
}

.contact_sns{
  width: 31.11px;
  height: 31.11px;
}



#email_address {
  animation: rotate-anime 4s linear infinite;
}
@keyframes rotate-anime {
  0%  {transform: rotate(0);}
  100%  {transform: rotate(-360deg);}
} 