@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

body {
  background-color: #0A231F;
  font-family: 'Noto Sans JP', sans-serif;
  overflow-x: hidden;
}

.iOS_body{
  overflow-w: hidden;
}

.kv-wrapper {
  height: 100lvh;
  width: 100%;
}

#kv {
  height: 299.02px;
  width: 149.67;
  bottom: 2.1%;
  position: absolute;
}

#nav_btn {
  width: 28.05px;
  height: 29.02px;
  position: absolute;
  top: 4%;
  left: 6.5%;
}

#message {
  width: 10.48px;
  height: 229.23px;
  position: absolute;
  top: 4%;
  right: 5.5%;
}

.row{
  padding: 0px 1.7%;
}


#delete_article {
  position: relative;
  width: 53.35px;
  height: 53.35px;
  right: 3%;
  top: 20px;
}

.title {
  position: relative;
  width: 366.81px;
}

/* .year {
  position: relative;
  width: 103px;
  height: 22px;
  left: 7%;
  top: 20px;
} */

.article {
  font-size: 12px;
  text-align: left;
  color: #CCCCCC;
  padding: 35px 7.5% 10% 30px;
  line-height : 23px;
  letter-spacing: 0.015em;
}

/* 背景固定対応（3/18）
========================== */

body.fixed {
	position: fixed;
	width: 100%;
	height: 100%;
	left: 0;
}

.modal{
  position: fixed;
  display: none;
}

/* ========================== */


/* 背景黒色部分 */
.modal-bg {
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: #0A231F;
}

/* コンテンツ表示部分 */
.inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 90%;
  background-color: black;
  overflow-y: scroll;
  overflow-x: hidden;
  /* -webkit-overflow-scrolling: touch; */
  /* 慣性スクロール */
}

.box-btn {
  text-align: right;
}

.btn-modal {
  border: none;
  appearance: none;
  padding: 0;
  margin-right: 0.5em;
  background-color: transparent;
  /* ボタン背景を透明に */
  cursor: pointer;
  font-size: 3em;
}

.btn-more {
  border: none;
  appearance: none;
  padding: 0.3em 0.5em;
  background-color: transparent;
  /* ボタン背景を透明に */
  cursor: pointer;
}


/*===================== Navbarのコーディング ===================== */

#delete_nav {
  transform: translate(-500px);
}

.menu-trigger.active {
  z-index: 100;
}

.menu-trigger.active #delete_nav {
  display: initial;
  position: fixed;
  width: 53.35px;
  height: 53.35px;
  z-index: 200;
  left: 270px;
  top: 30px;
  transform: translateZ(0);
  transition: all .5s;
}

.menu-trigger.active #nav_btn {
  display: none;
}

.menu-trigger {
  /* transition: all .5s; */
  width: 28.05px;
  height: 29.02px;
  position: absolute;
  top: 4%;
  left: 6.5%;
}

/* 背景色部分 */
/* .overlay.open {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: #0A231F;
      z-index: 2;
    } */

nav {
  width: 350px;
  height: 150%;
  padding-top: 100px;
  background-color: #CC4700;
  position: fixed;
  top: -100px;
  left: 0;
  z-index: 10;
  transform: translate(-350px);
  transition: all .5s;
}

nav.open {
  transform: translateZ(0);
}

nav li {
  list-style: none;
  margin-top: 50px;
}

nav ul {
  margin-top: 130px;
}

#top_nav {
  width: 38px;
}

#introsuction_nav {
  width: 141.57px;
}

#staff_nav {
  width: 53.7px;
}

#contact_nav {
  width: 110.23px;
}

/*===================== Navbarのコーディング ===================== */

#footer {
  width: 231.42px;
}

